@model TeacherLoginVM

@{
    ViewBag.Title = "Teacher Login";
}

<section class="cover2">
  <div id="landingHeader">
    <img id="headerLogo" src="../img/rockPencil.png">
    <span id="headerTitle">Sight Words Rock</span>
    <a role="button" id="headerRightAlign" asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-info btn-md">
      Home Page
    </a>
  </div>
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div style="background: rgba(255,255,255, .1); box-shadow: 0px 16px 40px rgba(0,0,0,0.23); padding: 20px 20px; margin: 20px auto; max-width: 360px" class="col-md-6 offset-md-3 text-center">
          <span class="textShadowTeal"> 
            <h2>Welcome, Teacher!</h2>
            <h3>Please sign in:</h3><br>
          </span>   
          <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <input asp-for="Email" class="form-control" placeholder="Email">
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="Password" class="form-control" placeholder="Password">
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label asp-for="RememberMe">
                  <input asp-for="RememberMe"/>
                  @Html.DisplayNameFor(m => m.RememberMe)
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg">Login</button>
            <br>
            <br>
            <span class="psw"><a asp-area="" asp-controller="Teacher" asp-action="ForgotPassword">Forgot Password?</a></span>
            <br>
            <br>
            <a role="button" class="btn btn-info btn-lg" asp-area="" asp-controller="Teacher" asp-action="CreateAccount">
              Create Account
            </a> 
          </form>
        </div>  
      </div>
    </div>
  </div>
</section>